<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Home</title>
</head>
<body>
    <h1>Welcome to the company home page</h1
    <p>Here you can see all the information about your company</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>{{ property.type }}</td>
                    <td>{{ property.address }}</td>
                    <td>{{ property.city }}</td>
                    <td>{{ property.state }}</td>
                    <td>{{ property.country }}</td>
                    <td>{{ property.zipcode }}</td>
                    <td>{{ property.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>