<!DOCTYPE html>
<html>
<head>
    <title>Expenses</title>
</head>
<body>
    <h2>Expenses</h2>
    <table>
        <thead>
            <tr>
                <th scope="col"><a href="?order_by=name">Name</a></th>
                <th scope="col"><a href="?order_by=amount">Amount</a></th>
                <th scope="col"><a href="?order_by=category">Category</a></th>
                <th scope="col"><a href="?order_by=property">Property</a></th>
                <th scope="col"><a href="?order_by=contact">Contact</a></th>
                <th scope="col"><a href="?order_by=payment_date">Payment Date</a></th>
                <th scope="col"><a href="?order_by=payment_method">Payment Method</a></th>
                <th scope="col"><a href="?order_by=note">Notes</a></th>
                <th scope="col"><a href="?order_by=receipts">Receipts</a></th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expense_page_obj %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.property }}</td>
                <td>{{ expense.contact }}</td>
                <td>{{ expense.payment_date }}</td>
                <td>{{ expense.payment_method }}</td>
                <td>
                    <textarea id="note" name="notes" rows="4" readonly>{{ expense.note }}</textarea>
                </td>
                <td>{{ expense.receipts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if expense_page_obj.has_next %}
        <a href="?page={{ expense_page_obj.next_page_number }}">Next Page</a>
    {% endif %}
</body>
</html>